* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
}


.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.h-100 {
  height: 100%;
}

img {
  width: 100%;
}

.debug {
  background-color: rgba(0, 255, 0, 0.2);
  border: 1px solid black;
}
body {
  font-family: 'Montserrat';
}

#main-wrapper {
  height: 100vh;
}

/******** MAIN *********/
main {
  height: calc(100% - 80px);
  overflow: hidden;
}

/* Call To Action  */
.cta {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  right: 0;
  height: 80px;
  width: calc(100% - 230px);
  background-color: rgba(0, 0, 0, .2);
}

.cta .btn {
  margin: 0 10px;
  padding: 20px 50px;
  border: none;
  border-radius: 30px;
  background: none;
  color: white;
  border: 1px solid;
  font-weight: 700;
}

/* Aside bar */
aside {
  padding: 10px 10px 0;
  min-height: 400px;
  width: 230px;
  background-color: black;
  color: gray;
}

aside .top {
  overflow: hidden;
  height: calc(100% - 80px);
}

aside .menu {
  padding: 10px 0;
}

aside .bottom {
  padding: 10px 0;
  height: 80px;
}

.logo-desktop {
width: 130px;
}
.logo-mobile {
  width: 25px;
}

.logo-mobile {
  display: none;
}

aside .menu li a{
  padding-left: 5px;
  text-decoration: none;
  color: gray;
  font-size: .9rem;
}

aside .menu li img {
  width: 25px;
}

.playlist {
  height: 90%;
}

.playlist .btn {
  font-size: 20px;
  padding: 5px;
  margin: 10px 5px 10px 0;
  background-color: gray;
  border: none;
}

.playlist-list {
  overflow: auto;
  height: 85%;
}

aside .download-app img {
  width: 15px;
}

aside .user {
  border-top: 1px solid;
}

aside .download-app img,
aside .user img {
  margin-right: 10px;
}

aside .user {
  padding-top: 5px;
}

aside .user img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid;
}

/* Main Content  */
.main-content {
  padding-top: 80px;
  width: calc(100% - 230px);
  overflow: auto;
  background-color: #141922;
}

.main-content nav ul{
  margin: 20px 0;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.main-content nav li a{
  padding: 0 10px;
  text-decoration: none;
  color: gray;
}

.main-content .contents {
  margin: 20px 10px;
}
/******** /MAIN *********/
/******** FOOTER *********/
footer {
  height: 80px;
  background-color: #282828;
}

.player {
  justify-content: space-between;
  align-items: center;
}

.player-song,
.player-controls,
.player-settings {
  align-items: center
}

.player-song,
.player-settings {
  padding: 0 10px;
  width: 15%;
  justify-content: space-between;
  color: #878787
}

/* Player song */
footer .player-song img {
  width: 50px;
  padding-right: 10px;

}

/* Player Controls */
.player-controls{
  justify-content: center;
  width: 40%;
  flex-shrink: 1;
}

.player-controls .row {
  justify-content: space-between;
  color: white;
  align-items: baseline;
}

.player-controls .shuffle, 
.player-controls .backward-step, 
.player-controls .forward-step, 
.player-controls .repeat  {
  font-size: 25px;
  padding: 0 50px;
}

.player-controls .play {
  font-size: 40px;
} 


.player-controls .progress-bar {
  margin: 10px;
  width: 500px;
  height: 8px;
  border: .5px solid;
  border-radius: 10px;
  color: gray;
}

/* Player Settings */
.player-settings .volume-bar {
  width: 60px;
  height: 5px;
  border: .5px solid;
  border-radius: 10px;
}
/******** /FOOTER *********/